<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Weyland-Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="login-body">
        <div class="login-wrapper">
            <div class="login-header"></div>
            <div class="login-box">
                <div class="login-content">
                    <div class="login-title"></div>
                    <input type="text" placeholder="e-mail/phoneNumber/account">
                    <input type="text" placeholder="password">
                    <button class="login-btn">LOGIN</button>
                    <a href="signUp.html">New to Weyland? Create an account.</a>
                </div>
            </div>
            <div class="login-footer">
                <div class="login-footer-inner">
                    <p id="copyRight">Copyright © 2012</p>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/login.js"></script>
</body>
</html>