<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Weyland-Login</title>
    <link rel="stylesheet" href="../static/css/signUp.css">
</head>
<body>
    <div class="login-body">
        <div class="login-wrapper">
            <div class="login-header"></div>
            <div class="login-box">
                <div class="login-content">
                    <div class="login-title"></div>
                    <input type="text" placeholder="userName">
                    <input type="text" placeholder="e-mail address">
                    <input type="text" placeholder="password">
                    <input type="text" placeholder="password again">
                    <button class="login-btn">CREATE AN ACCOUNT</button>
                    <a href="login.html">Already have an account?Here to sign in.</a>
                </div>
            </div>
            <div class="login-footer">
                <div class="login-footer-inner">
                    <p id="copyRight">Copyright © 2012</p>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/login.js"></script>
</body>
</html>